body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

header {
    font-family: 'Palatino', serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}

.profile-photo {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin-right: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-text {
    flex-grow: 1;
}

.intro-title {
    font-size: 1.5em;
}

.highlight {
    color: #00ccff;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 20px 40px;
    margin-right: 10px;
    background-color: #5783db;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.25em;
}

.cta-button:hover {
    background-color: #e34200;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    background-color: #121212;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold
}

.right-menu, .fixed-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
}

.right-menu li, .fixed-nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.right-menu a, .fixed-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.right-menu a:hover, .fixed-nav a:hover {
    color: #00ccff;
}

.fade-in-section, .fade-out-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#status, #blog {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333
}

.section-content {
    max-width: 800px;
    width: 100%;
    text-align: left;
}

.divider {
    border: 1px solid #fff;
    margin: 30px 50px; 
}

#contact {
    background-color: #f5f5f5;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 40px;
}

.table-content {
    width: 32%;
}

.table-description {
    padding-inline-start: 15px;
}

.status-description, .blog-description, .position-description {
    font-size: 1.1em;
    line-height: 1.6;
}

.blog-link, .linkedin-link {
    color: #ff4500;
    text-decoration: none;
}

.blog-link:hover, .linkedin-link:hover {
    text-decoration: underline;
}

.contact-icon {
    margin: 20px;
    text-align: center;
}

.contact-icon i {
    font-size: 2em;
    border-radius: 50%;
}

.footer-text {
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    header {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .header-content {
        flex-direction: column;
    }

    .profile-photo {
        width: 50%; /* Make the profile photo take the full width */
        max-width: none; /* Reset max-width */
        margin-right: 0; /* Remove right margin */
    }
}